<!-- Header Section Starts-->
<header>
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Logo starts -->
                <a class="navbar-brand" href="#">
                    <h1><img src="assets/images/icon-1.png" alt=""> Mind</h1>
                </a>
                <!-- Logo Ends -->

                <!-- Responsive Menu button starts -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Responsive Menu button Ends -->
            </div>

            <!-- Navigation starts -->
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right main-navigation">
                    <li><a class="btn btn-success" href="">Get Started</a></li>
                    <li><a class="" href="">Login</a></li>
                </ul>
            </div>
            <!-- Navigation Ends -->
        </div>
    </nav>
</header>
<!-- Header Section Ends-->

<div class="su-first-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="fr-br">
                    <div class="title">
                        <div class="logo">
                            <a class="" href="#">
                                <h1><img src="assets/images/icon-1.png" alt=""> Mind</h1>
                            </a>
                            <h3>Risk free, 14 day free trial, cancel anytime</h3>
                        </div>
                    </div>
                    <div class="action-progress">
                        <ul>
                            <li><i class="fa fa-star"></i>
                                <p>Parent</p>
                            </li>
                            <li><i class="fa fa-heart"></i>
                                <p>Student</p>
                            </li>
                            <li><i class="fa fa-star"></i>
                                <p>Plan </p>
                            </li>
                            <li><i class="fa fa-heart"></i>
                                <p>Verify </p>
                            </li>
                            <li class="active"><i class="fa fa-gear"></i>
                                <p>Add Suffix</p>
                            </li>
                            <!-- <li><i class="fa fa-heart"></i>
                                <p>Verify 2</p>
                            </li> -->
                        </ul>
                    </div>
                    <hr>
                    <form ng-submit="spas.setSuffix()">
                        <p>Thank you for subscribing. We will now send a final set-up email to your student.</p>
                        <p>If you would like to include a brief message, please type it here:</p>
                        <div class="form-group">
                            <textarea ng-model="spas.setInputedSuffix" class="form-control" rows="8" id="comment"></textarea>
                        </div>
                        <div class="form-group mt-50">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <!-- <button type="submit" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-success next-btn">Next Step <i class="fa fa-angle-right"></i> </button> -->
                                    <button type="submit"  class="btn btn-info" ng-click="open()" style="margin: 15px;">Open Modal</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Begin Bootstrap3 modal -->
                    <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <p style="text-align: center;">Thanks!  Do you want to add another student?  It could be one of yours or a grandchild, niece or nephew…go crazy.</p>
                                <div class="form-group mt-50">
                                    <div class="row">
                                        <div class="form-group col-md-6 col-md-offset-3">
                                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                            <button ng-click="spas.moveToAddPage()" class="btn btn-info next-btn" style="padding: 15px; font-size: 22px;">Add Additional Student</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Bootstrap3 modal -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /footer start -->
<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>© Copyright <a href="http://mehedi002.com">Mehedi002</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /footer end -->