    <!-- Header Section Starts-->
    <header>
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- Logo starts -->
                    <a class="navbar-brand" href="index.html">
                        <h1><img src="assets/images/icon-1.png" alt=""> Mind</h1>
                    </a>
                    <!-- Logo Ends -->

                    <!-- Responsive Menu button starts -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Responsive Menu button Ends -->
                </div>

                <!-- Navigation starts -->
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right main-navigation">
                        <li><a class="btn btn-success" href="">Get Started</a></li>
                        <li><a class="" href="">Login</a></li>
                    </ul>
                </div>
                <!-- Navigation Ends -->
            </div>
        </nav>
    </header>
    <!-- Header Section Ends-->

    <div ng-init="ssc.init()" class="su-first-form">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="fr-br">
                        <div class="title">
                            <div class="logo">
                                <a class="" href="#">
                                    <h1><img src="assets/images/icon-1.png" alt=""> Mind</h1>
                                </a>
                                <h3>Risk free, 14 day free trial, cancel anytime</h3>
                            </div>
                        </div>
                        <div class="action-progress">
                            <ul>
                                <li><i class="fa fa-star"></i><p>Parent</p></li>
                                <li class="active"><i class="fa fa-heart"></i><p>Student</p></li>
                            </ul>
                        </div>
                        <!-- <div class="form-group text-center"><br>
                            <div class="alert alert-danger" ng-if="ssc.signupError" role="alert">
                                {{ ssc.signupErrorMessage }}<br> If you aleady have a account <a ui-sref="login">login</a>!
                            </div>
                            <div class="alert alert-success" ng-if="ssc.signupSuccess" role="alert">
                                {{ ssc.signupStudentSuccessMessage }}.
                            </div>
                        </div> -->
                        <hr>
                        <form ng-submit="ssc.signupStudent()">
                            <div class="form-group">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="first-name">First Name</label>
                                        <input ng-model="ssc.firstName" type="text" class="form-control" id="first-name" placeholder="First Name" autocomplete="on" autofocus>
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.firstNameError"><strong>{{ ssc.firstNameErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="last-name">Last Name </label>
                                        <input ng-model="ssc.lastName" type="text" class="form-control" id="last-name" placeholder="Last Name" autocomplete="on">
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.lastNameError"><strong>{{ ssc.lastNameErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input ng-model="ssc.email" type="email" class="form-control" id="email" placeholder="sample.002@gmail.com" autocomplete="on">
                                <div class="col-md-12 error-message">
                                    <p ng-if="ssc.emailError"><strong>{{ ssc.emailErrorMsg }}</strong> </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone">Cell Phone</label>
                                <input ng-model="ssc.phoneNumber" type="number" class="form-control" id="phone" placeholder="+000000000">
                                <!-- <div class="col-md-12 error-message">
                                    <p ng-if="ssc.phoneNumberError"><strong>{{ ssc.phoneNumberErrorMsg }}</strong> </p>
                                </div> -->
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="state">State</label>
                                        <select class="form-control" ng-model="ssc.selectedState" ng-options="x.name for x in ssc.stateArray">
                                        </select>
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.stateError"><strong>{{ ssc.stateErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="school">School</label>
                                        <select class="form-control" id="school" ng-model="ssc.selectedSchool" ng-options="x.name for x in ssc.schoolArray">
                                        </select>
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.schoolError"><strong>{{ ssc.schoolErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="year">Year</label>
                                        <select class="form-control" id="year" ng-model="ssc.selectedYear" ng-options="x.name for x in ssc.yearArray">
                                        </select>
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.yearError"><strong>{{ ssc.yearErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="major">Major</label>
                                        <select class="form-control" id="major" ng-model="ssc.selectedMajor" ng-options="x.name for x in ssc.majorArray">
                                        </select>
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.majorError"><strong>{{ ssc.majorErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="sport">Sport</label>
                                        <select class="form-control" id="sport" ng-model="ssc.selectedSport" ng-options="x.name for x in ssc.sportArray">
                                        </select>
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.sportError"><strong>{{ ssc.sportErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="activity">Activity</label>
                                        <select class="form-control" id="activity" ng-model="ssc.selectedActivity" ng-options="x.name for x in ssc.activityArray">
                                        </select>
                                        <div class="col-md-12 error-message">
                                            <p ng-if="ssc.activityError"><strong>{{ ssc.activityErrorMsg }}</strong> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label for="personal">Personal Challenge</label>
                                    <select class="form-control" id="challenge" ng-model="ssc.selectedChallenge" ng-options="x.name for x in ssc.challengeArray">
                                    </select>
                                    <div class="col-md-12 error-message">
                                        <p ng-if="ssc.challengeError"><strong>{{ ssc.challengeErrorMsg }}</strong> </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-50">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-success next-btn">Next Step <i class="fa fa-angle-right"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>© Copyright <a href="http://mehedi002.com">Mehedi002</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /footer end -->
