         <!-- Carousel Begin -->
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		
  <div class="carousel-inner">
  
    <div class="carousel-item active">
      <div class="d-block w-100">
	  
	  <div class="row">
	  <div class="col-sm-5">
	<div class="carousel-default">  
	  <h1>Introducing Mind</h1>
	  
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im mind.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
    <span class="wrap"></span>
  </a>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<a href="price.html" class="button">Get Started</a>
</div>
</div>
	  <div class="col-sm-7 d-none d-sm-block">
	  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve">
            <path class="fill-mind" opacity=".05" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8
              c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"></path>
            <g>
              <defs>
                <path id="mind-slider1" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6
                  l449.3-373.4V0z"></path>
              </defs>
              <clipPath id="mind-slider2">
                <use xlink:href="#mind-slider1" style="overflow:visible;"></use>
              </clipPath>
              <g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#mind-slider2);">
               
                <image style="overflow:visible;" width="750" height="750" xlink:href="http://via.placeholder.com/750x750" transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
              </g>
			  
            </g>
			
          </svg>
</div>
	  </div>
	  </div>
    </div>
	
	<div class="carousel-item">
      <div class="d-block w-100">
	  
	  <div class="row">
	  <div class="col-sm-5">
	<div class="carousel-default">  
	  <h1>Introducing Mind</h1>
	  
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im mind.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
    <span class="wrap"></span>
  </a>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<a href="price.html" class="button">Get Started</a>
</div>
</div>
	  <div class="col-sm-7 d-none d-sm-block">
	  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve">
            <path class="fill-mind" opacity=".05" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8
              c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"></path>
            <g>
              <defs>
                <path id="mind-slider3" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6
                  l449.3-373.4V0z"></path>
              </defs>
              <clipPath id="mind-slider4">
                <use xlink:href="#mind-slider3" style="overflow:visible;"></use>
              </clipPath>
              <g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#mind-slider4);">
               
                <image style="overflow:visible;" width="750" height="750" xlink:href="http://via.placeholder.com/750x750" transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
              </g>
			  
            </g>
			
          </svg>
</div>
	  </div>
	  </div>
    </div>
	<div class="carousel-item">
      <div class="d-block w-100">
	  
	  <div class="row">
	  <div class="col-sm-5">
	<div class="carousel-default">  
	  <h1>Introducing Mind</h1>
	 
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im mind.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
    <span class="wrap"></span>
  </a>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<a href="price.html" class="button">Get Started</a>
</div>
</div>
	  <div class="col-sm-7 d-none d-sm-block">
	  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve">
            <path class="fill-mind" opacity=".05" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8
              c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"></path>
            <g>
              <defs>
                <path id="mind-slider5" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6
                  l449.3-373.4V0z"></path>
              </defs>
              <clipPath id="mind-slider6">
                <use xlink:href="#mind-slider5" style="overflow:visible;"></use>
              </clipPath>
              <g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#mind-slider6);">
               
                <image style="overflow:visible;" width="750" height="750" xlink:href="http://via.placeholder.com/750x750" transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
              </g>
			  
            </g>
			
          </svg>
</div>
	  </div>
	  </div>
    </div>
    
    
  </div>
</div>
         <!-- carousel End -->
         <!-- Services  Begin -->
         <div id="services">
            <div class="container">
               <div class="m-title">
                  <h1>Our <span>Services!</span></h1>
                  
               </div>
               <div class="row">
                  <div class="col-sm">
                     <div class="service-bx">
                        <h3>Flexible Layout</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                     </div>
                  </div>
                  <div class="col-sm">
                     <div class="service-bx">
                        <h3>Modern Design</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                     </div>
                  </div>
                  <div class="col-sm">
                     <div class="service-bx">
                        <h3>Customer Support</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                     </div>
                  </div>
               </div>
               <div class="service-bx">
                  <h3>Our Other Services</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
               </div>
            </div>
         </div>
         <!-- Services  End -->
         <!-- Our-work  Begin -->
         <div id="work">
            <div class="container">
               <div class="m-title">
                  <h1>Our <span>Work!</span></h1>
                  
               </div>
               <div class="m_b"></div>
               <div class="row no-gutters">
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Remind me more</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Workout budddy</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Workout budddy</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Workout budddy</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
               </div>
               <div class="row no-gutters">
                  <div class="col-sm-3">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm-3">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
               </div>
               <div class="row no-gutters">
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
                  <div class="col-sm">
                     <div class="our_work"><div class="hovereffect">
                           <img class="img-fluid" src="http://via.placeholder.com/360x380" alt="Natalie">
                           <div class="overlay">
                              <div class="over-bg">
                                 <h2>Tiger</h2>
                                 <p class="icon-links">
                                    
                      by Tiberiu Neamu
                    
                                    
                                 </p>
                              </div>
                           </div>
                        </div></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Our-work  End -->
         <!-- Prices Begin-->
         <div id="prices">
            <div class="container">
               <div class="m-title">
                  <h1>Our <span>Prices!</span></h1>
                  
               </div>
               <div class="price-bottom"></div>
               <div class="row no-gutters">
                  <div class="col-sm">
                     <div class="columns">
                        <ul class="price">
                           <li class="header">Standard</li>
                           <li class="grey"><span class="bx-currency">$</span> <span class="bx-price">19</span> <span class="bx-duration"> monthly</span> </li>
                           <li>50 project</li>
                           <li>45 GB Storage</li>
                           <li>Unlimited users</li>
                           <li>50GB Bandwidth</li>
                           <li>Security</li>
                           <li>24/7 Support</li>
                           <li class="button-bx"><a href="price.html" class="button">BUY NOW!</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm">
                     <div class="columns">
                        <ul class="price">
                           <li class="header">Premium</li>
                           <li class="grey"><span class="bx-currency">$</span> <span class="bx-price">39</span> <span class="bx-duration"> monthly</span> </li>
                           <li>50 project</li>
                           <li>45 GB Storage</li>
                           <li>Unlimited users</li>
                           <li>50GB Bandwidth</li>
                           <li>Security</li>
                           <li>24/7 Support</li>
                           <li class="button-bx"><a href="price.html" class="button">BUY NOW!</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm">
                     <div class="columns">
                        <ul class="price">
                           <li class="header">Professional</li>
                           <li class="grey"><span class="bx-currency">$</span> <span class="bx-price">59</span> <span class="bx-duration"> monthly</span> </li>
                           <li>50 project</li>
                           <li>45 GB Storage</li>
                           <li>Unlimited users</li>
                           <li>50GB Bandwidth</li>
                           <li>Security</li>
                           <li>24/7 Support</li>
                           <li class="button-bx"><a href="price.html" class="button">BUY NOW!</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm">
                     <div class="columns">
                        <ul class="price">
                           <li class="header">Maximum</li>
                           <li class="grey"><span class="bx-currency">$</span> <span class="bx-price">79</span> <span class="bx-duration"> monthly</span> </li>
                           <li>50 project</li>
                           <li>45 GB Storage</li>
                           <li>Unlimited users</li>
                           <li>50GB Bandwidth</li>
                           <li>Security</li>
                           <li>24/7 Support</li>
                           <li class="button-bx"><a href="price.html" class="button">BUY NOW!</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm price-left-price  d-md-none d-lg-block">
                     <div class="columns">
                        <ul class="price">
                           <li class="header">Extreme</li>
                           <li class="grey"><span class="bx-currency">$</span> <span class="bx-price">99</span> <span class="bx-duration"> monthly</span> </li>
                           <li>50 project</li>
                           <li>45 GB Storage</li>
                           <li>Unlimited users</li>
                           <li>50GB Bandwidth</li>
                           <li>Security</li>
                           <li>24/7 Support</li>
                           <li class="button-bx"><a href="price.html" class="button">BUY NOW!</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Prices End-->
         <div class="clearfix"></div>
         <!-- Pattern Begin-->
         <div id="pattern">
            <div class="container">
               <div class="row">
                  <div class="col-sm-5">
                     <div class="pattern-bx"> <img src="http://via.placeholder.com/400x444" class="img-fluid" alt="computer"> </div>
                  </div>
                  <div class="col-sm-7">
                     <div class="pattern-bx">
                        <div class="accordion" id="accordionExample">
                           <div class="card">
                              <div class="card-header" id="headingOne">
                                 <h5 class="mb-0">
                                    <button class="btn btn-link card-title" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Get to know us about
                                    </button>
                                 </h5>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                 <div class="card-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header" id="headingTwo">
                                 <h5 class="mb-0">
                                    <button class="btn btn-link collapsed card-title" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Get our super team info
                                    </button>
                                 </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                 <div class="card-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header" id="headingThree">
                                 <h5 class="mb-0">
                                    <button class="btn btn-link collapsed card-title" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Get our best advise
                                    </button>
                                 </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                 <div class="card-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                 </div>
                              </div>
                           </div>
                           <div class="card card-border">
                              <div class="card-header" id="headingFour">
                                 <h5 class="mb-0">
                                    <button class="btn btn-link collapsed card-title" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Get our power help
                                    </button>
                                 </h5>
                              </div>
                              <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                 <div class="card-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Pattern End-->
         <!-- Fact Begin-->
         <div id="fact">
            <div class="container">
               <div class="m-title">
                  <h1>Our <span>Facts!</span></h1>
                  
               </div>
               <div class="row">
                  <div class="col-sm-7">
                     <div class="fact-bx">
                        <h3>Lorem Ipsum is Simply Dummy</h3>
                        <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum is simply dummy text. </p>
                        <p class="paragraph  hidden-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.and typesetting industry.</p>
                        <p class="paragraph hidden-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum is simply dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                     </div>
                  </div>
                  <div class="col-sm-5">
                     <div class="fact-bx">
                        <div class="row">
                           <div class="col-sm font-box">
                              <div class="fact-box-left">
                                 <i class="fas fa-mug-hot"></i>
                                 <h4>786</h4>
                                 <p>Coffee Drink </p>
                              </div>
                           </div>
                           <div class="col-sm font-box">
                              <div class="fact-box-left">
                                 <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                                 <h4>86</h4>
                                 <p>Meetings</p>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm font-box">
                              <div class="fact-box-left">
                                 <i class="fas fa-rocket" aria-hidden="true"></i>
                                 <h4>6534</h4>
                                 <p>Mockups </p>
                              </div>
                           </div>
                           <div class="col-sm font-box">
                              <div class="fact-box-left">
                                 <i class="fas fa-comment" aria-hidden="true"></i>
                                 <h4>319</h4>
                                 <p>Comments </p>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm font-box">
                              <div class="fact-box-left">
                                 <i class="fas fa-database" aria-hidden="true"></i>
                                 <h4>8158</h4>
                                 <p>Databases</p>
                              </div>
                           </div>
                           <div class="col-sm font-box">
                              <div class="fact-box-left">
                                 <i class="fas fa-user" aria-hidden="true"></i>
                                 <h4>30833</h4>
                                 <p>Members </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Fact End-->
         <!-- Team Begin-->
         <div class="clearfix"></div>
         <div id="team">
            <div class="container">
               <div class="m-title">
                  <h1>Our <span>Team!</span></h1>
                  
               </div>
               <section class="team-section">
                  <div class="row">
                     <div class="col-sm">
                        <div class="avatar"> <img src="http://via.placeholder.com/255x230"  alt="team-1" class="img-fluid"> </div>
                        <div class="team-text-bx">
                           <h4><a href="team.html">Dx Parker</a></h4>
                        </div>
                        <div class="team-icon-1">
                           <h6 >MANAGING <a href="#" target="_blank" title="Facebook"><i class="fas fa-facebook"></i></a> <a href="#" target="_blank" title="Twitter"><i class="fas fa-twitter"></i></a></h6>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="avatar"> <img src="http://via.placeholder.com/255x230"  alt="team-2" class="img-fluid"> </div>
                        <div class="team-text-bx">
                           <h4><a href="team.html">Laura Bisio</a></h4>
                        </div>
                        <div class="team-icon-1">
                           <h6 >DIRECTOR <a href="#" target="_blank" title="Facebook"><i class="fas fa-facebook"></i></a> <a href="#" target="_blank" title="Twitter"><i class="fas fa-twitter"></i></a></h6>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="avatar"> <img src="http://via.placeholder.com/255x230"  alt="team-3" class="img-fluid"> </div>
                        <div class="team-text-bx">
                           <h4><a href="team.html">Pietro Masi</a></h4>
                        </div>
                        <div class="team-icon-1">
                           <h6 >MEMBER <a href="#" target="_blank" title="Facebook"><i class="fas fa-facebook"></i></a> <a href="#" target="_blank" title="Twitter"><i class="fas fa-twitter"></i></a></h6>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="avatar"> <img src="http://via.placeholder.com/255x230"  alt="team-4" class="img-fluid"> </div>
                        <div class="team-text-bx">
                           <h4><a href="team.html">Alex jones</a></h4>
                        </div>
                        <div class="team-icon-1">
                           <h6 >ENGINEER <a href="#" target="_blank" title="Facebook"><i class="fas fa-facebook"></i></a> <a href="#" target="_blank" title="Twitter"><i class="fas fa-twitter"></i></a></h6>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
         <!-- Team End-->
         <!-- Testimonial Begin-->
         <div id="testimonial">
            <div class="container">
			<div class="m-title">
                  <h1>Customer <span>Feedback!</span></h1>
                  
               </div>
               <div class="row">
                  
                  <div class="col-sm-12">
                     <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                           <li data-target="#myCarousel" data-slide-to="1"></li>
                           <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                           <div class="item carousel-item active">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                       <div class="media">
                                          <div class="media-left d-flex mr-3">
                                             <img src="http://via.placeholder.com/250x250" alt="testimonial" class="img-fluid">										
                                          </div>
                                          <div class="media-body">
                                             <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                             <div class="testimonian_rotate">
                                                <div class="name">Paula Wilson</div>
                                                <div class="details">california</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6 d-none d-sm-block">
                                    <div class="testimonial-wrapper">
                                       <div class="media">
                                          <div class="media-left d-flex mr-3">
                                             <img src="http://via.placeholder.com/250x250" alt="testimonial" class="img-fluid">										
                                          </div>
                                          <div class="media-body">
                                             <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                             <div class="testimonian_rotate">
                                                <div class="name">Emma Wilson</div>
                                                <div class="details">NewYork</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item carousel-item">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                       <div class="media">
                                          <div class="media-left d-flex mr-3">
                                             <img src="http://via.placeholder.com/250x250" alt="testimonial" class="img-fluid">										
                                          </div>
                                          <div class="media-body">
                                             <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                             <div class="testimonian_rotate">
                                                <div class="name">Erica John</div>
                                                <div class="details">London</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6 d-none d-sm-block">
                                    <div class="testimonial-wrapper">
                                       <div class="media">
                                          <div class="media-left d-flex mr-3">
                                             <img src="http://via.placeholder.com/250x250" alt="testimonial" class="img-fluid">										
                                          </div>
                                          <div class="media-body">
                                             <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                             <div class="testimonian_rotate">
                                                <div class="name">Watson Nilson</div>
                                                <div class="details">Maxico</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item carousel-item">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                       <div class="media">
                                          <div class="media-left d-flex mr-3">
                                             <img src="http://via.placeholder.com/250x250" alt="testimonial" class="img-fluid">										
                                          </div>
                                          <div class="media-body">
                                             <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                             <div class="testimonian_rotate">
                                                <div class="name">Erica smith</div>
                                                <div class="details">NewYork</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6 d-none d-sm-block">
                                    <div class="testimonial-wrapper">
                                       <div class="media">
                                          <div class="media-left d-flex mr-3">
                                             <img src="http://via.placeholder.com/250x250" alt="testimonial" class="img-fluid">										
                                          </div>
                                          <div class="media-body">
                                             <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                             <div class="testimonian_rotate">
                                                <div class="name">Emmy John</div>
                                                <div class="details">california</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Testimonial End-->
         <!-- Post Begin-->
         <div id="post">
            <div class="container">
               <div class="m-title">
                  <h1>Latest <span>Post!</span></h1>
                  
               </div>
            </div>
            <div class="container">
               <div class="pst-bx-pst">
                  <div class="row">
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-1">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Fritz Wold</h5>
                              </a>
                              <p>User<span class="sep-line">|</span><span>30-Nov-18</span></p>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-2">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Kim Jerry</h5>
                              </a>
                              <p>Admin<span class="sep-line">|</span><span>25-Jan-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-3">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Argele Martin</h5>
                              </a>
                              <p>Admin<span class="sep-line">|</span><span>25-Jun-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-4">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Kerry smith</h5>
                              </a>
                             <p>User<span class="sep-line">|</span><span>15-Aug-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-sm sr-only">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-6">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Ichae Martin</h5>
                              </a>
                              <p>User<span class="sep-line">|</span><span>10-Nov-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-7">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Kerry Franti</h5>
                              </a>
                              <p>Admin<span class="sep-line">|</span><span>11-Feb-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-sm sr-only">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-8">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Walter Lincon</h5>
                              </a>
                              <p>Admin<span class="sep-line">|</span><span>25-Nov-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-9">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Laura Semos</h5>
                              </a>
                              <p>User<span class="sep-line">|</span><span>19-Nov-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-10">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Laura Scott</h5>
                              </a>
                              <p>User<span class="sep-line">|</span><span>28-Mar-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-sm">
                        <div class="post-bx">
                           <img src="http://via.placeholder.com/285x293" class="img-fluid" alt="post-11">
                           <div class="box-txt">
                              <a href="blog.html">
                                 <h5>Juli Smith</h5>
                              </a>
                              <p>Admin<span class="sep-line">|</span><span>16-Dec-18</span></p>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Post End-->
         <!-- Contact Begin-->
         <div id="contact">
            <div class="container">
               <div class="m-title">
                  <h1>Our <span>Contact!</span></h1>
                  
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="contact-bx">
                        <div class="email-bx">
                           <a href="contact.html" class="btn btn-email">
                           <i class="fas fa-envelope" aria-hidden="true"></i>   info@yourcompany.com
                           </a>
                        </div>
                        <div class="email-bx">
                           <a href="contact.html" class="btn btn-email">
                           <i class="fas fa-globe" aria-hidden="true"></i>   www.yourcompany.com
                           </a>
                        </div>
                        <div class="email-bx"><a href="#" class="btn btn-email"><i class="fas fa-phone" aria-hidden="true"></i>   +91 929212345678</a></div>
                        <div class="contact-carousal">
                           <div id="addresses">
                              <div class="addresses-inner">
                                    <div class="addresses-caption">
                                       <h3><strong>HEAD OFFICE :</strong> Designcollection Bhavan Opp.Cloth Market,M.G. Road, Indore MP - 311001 (INDIA)</h3>
									   <h3><strong>CORPORTE OFFICE :</strong> Manas Building, Near Boyes Colleage, Ringh Road, Bhopal UP - 311452006001 (INDIA)</h3>
                                    </div>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <div class="col-sm-6">
				   <div id="srt-maps">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d29442.029424765256!2d75.86206919846995!3d22.71881065860194!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle+map!5e0!3m2!1sen!2sin!4v1525435829033" class="map-embed" allowfullscreen></iframe>
               
         </div>
				  </div>
               </div>
            </div>
         </div>
         <!-- Contact End-->
         <!-- Mid-section Begin-->
         <div id="mid-section">
            <div class="container">
               <h3>The Only Theme You'll Ever Need</h3>
            </div>
         </div>
         <!-- Mid-section End-->
         <!-- Scrolling Begin-->
         <div id="scrolling">
            <div class="parallax">
               <div class="container">
                  <div class="col-md">
                     <div class="triangle-bx"> </div>
                     <div class="parallax-bx">
                        <img src="http://via.placeholder.com/61x74" class="img-fluid" alt="carousal-img">
                        <h1 class="wow zoomIn">We Are Ready For You</h1>
                        <p>Hope you are ready for feel realistic</p>
                        <div class="btn-group btn-group-justified">
                           <div class="purches-bx">
                              <a href="#" class="btn btn-purches">
                              purches now
                              </a>
                           </div>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Scrolling End-->