
<!-- Header Section Starts-->
<header>
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Logo starts -->
                <a class="navbar-brand" href="#">
                    <h1><img src="assets/images/icon-1.png" alt=""> Mind</h1>
                </a>
                <!-- Logo Ends -->

                <!-- Responsive Menu button starts -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Responsive Menu button Ends -->
            </div>

            <!-- Navigation starts -->
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right main-navigation">
                    <li class="active"><a href="index.html">How it Works</a></li>
                    <li><a href="#blog">Why it Works</a></li>
                    <li><a href="#new-project">Aboout us </a></li>
                    <li><a href="#about">Contact Us</a></li>
                    <li><a class="btn btn-success" ui-sref="signup/parent">Get Started</a></li>
                    <li><a class="" ui-sref="login">Login</a></li>
                </ul>
            </div>
            <!-- Navigation Ends -->
        </div>
    </nav>
</header>
<!-- Header Section Ends-->

<!--Banner Section Start-->
<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-img">
                    <img src="assets/images/iso.png" alt="Photo">
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-text">
                    <h2>Header Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta vel nemo facilis. Corporis nobis, odit culpa nam saepe ea modi et vitae ex quas, impedit ducimus accusamus voluptas, soluta praesentium?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta vel nemo facilis. Corporis nobis, odit culpa nam saepe ea modi et vitae ex quas, impedit ducimus accusamus voluptas, soluta praesentium?</p>
                    <div class="text-center">
                        <p>Risk free, 14 day free trial, cancel anytime</p>
                        <a href="#" class="btn btn-start">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Banner Section End-->
<!-- /blog start -->
<section class="news" id="blog">
    <div class="container">
        <div class="row">
            <div class="owl-carousel latest_news_slider" id="slider1">
                <div class="item">
                    <div class="col-md-12">
                        <div class="news_box">
                            <div class="news_img"> <img class="img-fluid" src="assets/images/news-1.jpg" alt="news-1">
                                <div class="news_date">
                                    <div class="date_box">
                                        <h2><span class="large">12</span> <br>
                                            June</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="news_detail">
                                <h3>The Pros and Cons of Starting an online Consulting Business</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a href="#">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <div class="news_box">
                            <div class="news_img"> <img class="img-fluid" src="assets/images/news-1.jpg" alt="news-2">
                                <div class="news_date">
                                    <div class="date_box">
                                        <h2><span class="large">12</span> <br>
                                            June</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="news_detail">
                                <h3>The Pros and Cons of Starting an online Consulting Business</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a href="#">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <div class="news_box">
                            <div class="news_img"> <img class="img-fluid" src="assets/images/news-1.jpg" alt="news-3">
                                <div class="news_date">
                                    <div class="date_box">
                                        <h2><span class="large">12</span> <br>
                                            June</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="news_detail">
                                <h3>The Pros and Cons of Starting an online Consulting Business</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <a href="#">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /blog end -->

<!-- /call_to_action start -->
<section id="new-project" class="new-project">
    <div class="container">
        <div class="new-project-details">
            <div class="row">
                <div class="offset-lg-1 col-lg-8 col-md-12">
                    <div class="single-new-project">
                        <h3> Want to start a new project with us? Let’s Start! </h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="single-new-project"> <a href="#" class="slide-btn"> start now! </a> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /call_to_action end -->

<!-- /footer start -->
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="" class="foot-link">Terms</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum cupiditate pariatur voluptas iste, cumque adipisci molestiae, voluptatem voluptate recusandae aliquam.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="" class="foot-link">Privacy</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum cupiditate pariatur voluptas iste, cumque adipisci molestiae, voluptatem voluptate recusandae aliquam.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="" class="foot-link">FAQ</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum cupiditate pariatur voluptas iste, cumque adipisci molestiae, voluptatem voluptate recusandae aliquam.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="" class="foot-link">Contact</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum cupiditate pariatur voluptas iste, cumque adipisci molestiae, voluptatem voluptate recusandae aliquam.</p>
            </div>
        </div>
    </div>
</footer>
<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>© Copyright <a href="http://mehedi002.com">Mehedi002</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /footer end -->