<!-- Header Section Starts-->
<header>
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Logo starts -->
                <a class="navbar-brand" href="#">
                    <h1><img src="assets/images/icon-1.png" alt=""> Mind</h1>
                </a>
                <!-- Logo Ends -->

                <!-- Responsive Menu button starts -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Responsive Menu button Ends -->
            </div>

            <!-- Navigation starts -->
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right main-navigation">
                    <li><a class="btn btn-success" href="">Get Started</a></li>
                    <li><a class="" href="">Login</a></li>
                </ul>
            </div>
            <!-- Navigation Ends -->
        </div>
    </nav>
</header>
<!-- Header Section Ends-->

<div class="su-first-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="fr-br">
                    <div class="title">
                        <div class="logo">
                            <a class="" href="#">
                                <h1><img src="assets/images/icon-1.png" alt=""> Mind</h1>
                            </a>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-if="lc.loginError" role="alert">{{ lc.loginErrorMessage }}</div>
                    <hr>
                    <form ng-submit="lc.login()">
                        <h1 style="text-align: center;">Sign In</h1>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input ng-model="lc.email" type="email" class="form-control" id="email" placeholder="sample.002@gmail.com" required autocomplete="on" autofocus>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="password">Password</label>
                                    <input ng-model="lc.password" type="password" class="form-control" id="password" placeholder="Password" required autocomplete="on">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="form-group col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-start btn-log">Sign IN</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <h3>If you have not an account, <a ui-sref="signup/parent">Sign Up Here</a></h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /footer start -->
<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>© Copyright <a href="http://mehedi002.com">Mehedi002</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /footer end -->